<nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: #FA7268;">
  <a class="navbar-brand" href="{{ url_for('home') }}">THAT'S MORE OF IT</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('home') }}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('data') }}">Data</a>
      </li>
    </ul>
    <a href="https://twitter.com/itsbillw" class="fa fa-twitter"></a>
    <a href="https://instagram.com/itsbillw" class="fa fa-instagram"></a>
    <a href="https://linkedin.com/in/paulewhittle/" class="fa fa-linkedin"></a>
    <a href="https://github.com/itsbillw/" class="fa fa-github"></a>
    <a href="mailto:bill@thatsmoreofit.com" class="fa fa-envelope"></a>
  </div>
</nav>
